<html>
<head>
<meta charset="UTF-8">
{% load static %}
<link rel="stylesheet" href='{% static "styles.css"%}'>
<link rel="stylesheet" href='{% static "subscription.css"%}'>
</head>
    <body>
        <div class="header">
            <a href="/profile" class="logo">
                <img src='{% static "logo.png"%}' alt="" width="35px">
                ExerciseNow
            </a>
            <div class="header-right">
                <a class="button" href="/subscription">Subscription</a>
                <a href="/shop" class="button">Shop</a>
                <a href="/challenge" class="button">Get a Challenge</a>
                <a href="/profile" class="logo"><img src='{% static "profile.png"%}' alt="profile" width="30px"></a>
            </div>
        </div>
        <section class="pricing-table">
            <div class="container">
                <div class="block-heading">
                    <h2>Our Pricing</h2>
                    <p>You can get up to 80% of the subscription cost back, from simply exercising daily!</p>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-5 col-lg-4">
                        <div class="item">
                            <div class="heading">
                                <h3>Monthly</h3>
                            </div>
                            <p></p>
                            <div class="features">
                                <h4><span class="feature">Duration</span> : <span class="value">30 Days</span></h4>
                            </div>
                            <div class="price">
                                <h4>$50</h4>
                            </div>
                            <button class="btn btn-block btn-outline-primary" type="submit">BUY NOW</button>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="item">
                            <div class="ribbon">Best Value</div>
                            <div class="heading">
                                <h3>Yearly</h3>
                            </div>
                            <p>10% discount!</p>
                            <div class="features">
                                <h4><span class="feature">Duration</span> : <span class="value">1 year</span></h4>
                            </div>
                            <div class="price">
                                <h4>$540</h4>
                            </div>
                            <button class="btn btn-block btn-primary" type="submit">BUY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
